// Place all the styles related to the courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border: 1px solid black;
	table-layout: fixed;
	width: 300px;
}

tr, th {
	text-align: center;
	color: green;
	width: 150px;
}

th {
	border-bottom: 1px solid black;
}

#notice {
	color: green;
}

.edit_column {
	width: 75px;
}

a:visited {
	color: blue;
}